@font-face {
  font-family: 'Crete Round';
  font-style: normal;
  font-weight: 400;
  src: local('Crete Round'), local('CreteRound-Regular'), url(../fonts/latin1.woff2) format('woff2');
}
@font-face {
  font-family: 'Crete Round';
  font-style: normal;
  font-weight: 400;
  src: local('Crete Round'), local('CreteRound-Regular'), url(../fonts/latin2.woff2) format('woff2');
}
@font-face {
  font-family: 'Crete Round';
  font-style: italic;
  font-weight: 400;
  src: local('Crete Round Italic'), local('CreteRound-Italic'), url(../fonts/latin3.woff2) format('woff2');
}
@font-face {
  font-family: 'Crete Round';
  font-style: italic;
  font-weight: 400;
  src: local('Crete Round Italic'), local('CreteRound-Italic'), url(../fonts/latin4.woff2) format('woff2');
}
* {
  margin: 0px;
  padding: 0px;
  outline: none;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.ie-module-9 {
  position: relative;
  min-height: 670px;
  padding: 60px 0px;
  min-height: 650px;
  text-align: center;
}
@media (min-width: 1200px) {
  .ie-module-9 .testimonial-data {
    padding: 0px 0px 0px 490px !important;
  }
  .ie-module-9 .carousel-control {
    display: none;
  }
}
@media (max-width: 1200px) and (min-width: 992px) {
  .ie-module-9 .testimonial-data {
    padding: 0px 0px 0px 360px !important;
  }
  .ie-module-9 .carousel-control {
    display: none;
  }
}
@media (max-width: 992px) and (min-width: 768px) {
  .ie-module-9 .testimonial-data {
    padding: 0px 0px 0px 280px !important;
  }
  .ie-module-9 .testimonial-data .testimonial-text {
    padding: 0 !important;
  }
  .ie-module-9 .testimonial-data .testimonial-text p {
    z-index: 999999;
    position: relative;
  }
  .ie-module-9 .testimonial-contant #bx-pager {
    margin: 10px 20px 10px 30px !important;
  }
  .ie-module-9 .sec-header h2 {
    font-size: 32px !important;
    line-height: 32px !important;
  }
  .ie-module-9 .sec-header p {
    font-size: 20px !important;
  }
  .ie-module-9 .carousel-control {
    display: none;
  }
}
@media (max-width: 768px) {
  .ie-module-9 .testimonial-data {
    padding: 0 !important;
  }
  .ie-module-9 .sec-header h2 {
    font-size: 22px !important;
    line-height: 22px !important;
  }
  .ie-module-9 .sec-header p {
    font-size: 16px !important;
  }
  .ie-module-9 .testimonial-text p {
    font-size: 14px !important;
    line-height: 22px !important;
  }
  .ie-module-9 .side-imgage {
    display: none;
  }
  .ie-module-9 .carousel-control {
    display: none;
  }
}
@media (max-width: 480px) {
  .ie-module-9 #bx-pager {
    display: none !important;
  }
  .ie-module-9 .carousel-control {
    position: absolute;
    z-index: 99999;
    width: 0;
    color: #000;
    filter: alpha(opacity=50);
    opacity: 1;
    left: 15%;
    display: block;
    top: 39%;
  }
  .ie-module-9 .carousel-inner {
    position: relative;
    width: 90%;
    overflow: hidden;
    margin-left: 22px;
  }
}
.ie-module-9 #bg5 {
  background-size: cover;
  background-image: url(../images/testimonials-bg.jpg);
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-attachment: fixed;
}
.ie-module-9 #bg5:before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
  position: absolute;
  left: 0px;
  top: 0px;
}
.ie-module-9 .skrollable {
  position: absolute;
}
.ie-module-9 .testimonial-contant {
  z-index: 100;
  background-position: left bottom;
  background-repeat: no-repeat;
  position: relative;
}
.ie-module-9 .testimonial-contant .sec-header {
  float: left;
  width: 100%;
  padding: 0px 0px 40px 0px;
}
.ie-module-9 .testimonial-contant .sec-header h2 {
  display: block;
  font-size: 48px;
  line-height: 48px;
  color: #fff;
  font-family: inherit;
  font-weight: bold;
}
.ie-module-9 .testimonial-contant .sec-header p {
  font-size: 24px;
  font-family: 'Crete Round', serif;
  font-style: italic;
  position: relative;
  color: #fff;
  margin: 0 0 10px;
  display: block;
}
.ie-module-9 .testimonial-contant .sec-header span {
  background-color: #fff;
  height: 10px;
  width: 10px;
  display: inline-block;
  transform: rotate(45deg);
}
.ie-module-9 .testimonial-contant .side-imgage {
  position: absolute;
  left: 0px;
  bottom: -60px;
  width: 40%;
}
.ie-module-9 .testimonial-contant .side-imgage img {
  height: auto;
  vertical-align: middle;
  border: 0;
  max-width: 100%;
}
.ie-module-9 .testimonial-contant #bx-pager {
  margin: 30px 0px 0px 30px;
}
.ie-module-9 .testimonial-contant #bx-pager a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-style: italic;
  margin: 0px;
  float: left;
  width: 20%;
}
.ie-module-9 .testimonial-contant #bx-pager a .color {
  color: #00a685;
}
.ie-module-9 .testimonial-contant #bx-pager a p {
  margin: 0px;
  display: block;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}
.ie-module-9 .testimonial-contant #bx-pager .thumb {
  text-decoration: none;
  -webkit-border-radius: 100%;
  height: 80px;
  width: 80px;
  overflow: hidden;
  margin: 0px auto 10px auto;
  border: solid 2px rgba(255,255,255,0.5);
  padding: 3px;
}
.ie-module-9 .testimonial-contant #bx-pager .thumb img {
  -webkit-border-radius: 100%;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  border: 0;
}
.ie-module-9 .testimonial-data {
  float: left;
  width: 100%;
  position: relative;
  z-index: 100;
}
.ie-module-9 .testimonial-data .bx-wrapper {
  position: relative;
  margin: 0 auto 0px;
  padding: 0;
}
.ie-module-9 .testimonial-data .bx-wrapper .bx-viewport {
  background-color: transparent;
  width: 100%;
  overflow: hidden;
  position: relative;
  height: 272px;
}
.ie-module-9 .testimonial-data .testimonial-text:before {
  position: absolute;
  content: "";
  height: 60px;
  width: 60px;
  background-color: #fff;
  border-radius: 100%;
  left: -30px;
  top: 50%;
  margin: -30px 0px 0px 0px;
}
.ie-module-9 .testimonial-data .testimonial-text:after {
  content: "\f10d";
  position: absolute;
  top: 50%;
  left: -15px;
  font-family: FontAwesome;
  font-size: 34px;
  margin: -21px 0px 0px 0px;
}
.ie-module-9 .testimonial-data .testimonial-text {
  float: left;
  text-align: center;
  background-color: #fff;
  position: relative;
  margin: 50px;
}
.ie-module-9 .testimonial-data .testimonial-text p {
  font-size: 18px;
  color: #101010;
  font-style: italic;
  line-height: 35px;
  margin: 30px;
}
.ie-module-9 .testimonial-data .testimonial-text a {
  text-decoration: none;
  font-family: 'Pacifico', cursive;
  font-size: 30px;
  color: #00a685;
}
